*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
header{
    background-color: #306BB3;
    display:flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
}

section{
    display: flex;
    justify-content: space-between;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #306BB3;
    color: white;
}
.vertical{
    display: flex;
    flex-direction: column;
}
